In [47]:
%pip install requests
%pip install python-dotenv

Requirement already satisfied: requests in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (2.32.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (from requests) (2025.1.31)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\devices\appdata\local\programs\python\python310\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Fetch Movie Data from API

In [48]:
import requests
from dotenv import load_dotenv
import pandas as pd
import os
import time
import json

# Load variables from .env file
load_dotenv()

# Access the API access token
api_access_token = os.getenv('API_ACCESS_TOKEN')

# Base URL for TMDb API
BASE_URL = "https://api.themoviedb.org/3/movie"


# List of movie IDs to fetch
movie_ids = [0, 299534, 19995, 140607, 299536, 597, 135397, 420818, 24428,
             168259, 99861, 284054, 12445, 181808, 330457, 351286, 109445,
             321612, 260513]

def fetch_movie_data(movie_id):
    """
    Fetch details for a single movie using TMDb API and returns
    a JSON response containing movie details, or None if the request fails.
    """
    url = f"{BASE_URL}/{movie_id}?append_to_response=credits"
    # https://api.themoviedb.org/3/movie/11?append_to_response=videos
    # ?append_to_response=videos

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {api_access_token}"
    }
    try:
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            return response.json()  # Return JSON data if successful
        else:
            print(f"Error {response.status_code} for movie_id={movie_id}")
            return None
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data for movie_id={movie_id}: {e}")
        return None

def fetch_all_movies(movie_ids):
    """
    Fetch data for a list of movie IDs and returns
    a list of dictionaries containing movie details.
    """
    movies = []
    for movie_id in movie_ids:
        data = fetch_movie_data(movie_id)
        if data:  # Only add valid responses
            movies.append(data)
        time.sleep(0.1) # Rate limiting in place for future scalability; current usage stays within limits.

    return movies

def save_to_dataframe(movie_data):
    """
    Converts a list of movie data dictionaries into a Pandas DataFrame 
    returns Pandas DataFrame containing structured movie data.
    """
    df = pd.DataFrame(movie_data)
    return df

# Main process: Fetch movies and save as DataFrame
all_movies_data = fetch_all_movies(movie_ids)
movies_df = save_to_dataframe(all_movies_data)

# Save the data to a JSON file
with open("movies_raw.json", "w") as json_file:
    json.dump(all_movies_data, json_file, indent=4)

# Preview the DataFrame
pd.set_option('display.max_columns',None)
movies_df.head()

Error 404 for movie_id=0

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,[US],en,Avengers: Endgame,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26209,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,[US],en,Avatar,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.588,32115,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,[US],en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.262,19665,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,[US],en,Avengers: Infinity War,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,30386,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,[US],en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.905,25867,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

# Data Preparation & Cleaning

## Data Preparation and Cleaning

### 1. Drop

In [49]:
# Drop irrelevant columns from the DataFrame
movies_df.drop(columns=['adult', 'imdb_id', 'original_title', 'video', 'homepage'], inplace=True)

# Display the first few rows to confirm changes
movies_df.head()

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,credits
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",299534,[US],en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,8.238,26209,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,7.588,32115,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",140607,[US],en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",299536,[US],en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,7.905,25867,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

### 2. Evaluate

In [50]:
movies_df[['belongs_to_collection', 'genres', 'production_countries',
'production_companies', 'spoken_languages']].head()

,belongs_to_collection,genres,production_countries,production_companies,spoken_languages
0,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
1,"{'id': 87096, 'name': 'Avatar Collection', 'po...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
2,"{'id': 10, 'name': 'Star Wars Collection', 'po...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'english_name': 'English', 'iso_639_1': 'en'..."
3,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
4,None,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'english_name': 'English', 'iso_639_1': 'en'..."

### 3. Extract

In [51]:
# Extract 'belongs_to_collection' nested data
movies_df['Collection name'] = movies_df['belongs_to_collection'].apply(lambda x: x['name'] if pd.notna(x) else None)

# Drop the original column
movies_df.drop(columns=['belongs_to_collection'], inplace=True)

cleaned_movies_df = movies_df

cleaned_movies_df[['Collection name']].head()

           Collection name
0  The Avengers Collection
1        Avatar Collection
2     Star Wars Collection
3  The Avengers Collection
4                     None

In [52]:
# Extract genre names and format them 
cleaned_movies_df['Genre names'] = cleaned_movies_df['genres'].apply(lambda x: '|'.join([genre['name'] for genre in x]) if x else None)

# Drop the original column
cleaned_movies_df.drop(columns=['genres'], inplace=True)

cleaned_movies_df[['Genre names']].head()

                                Genre names
0          Adventure|Science Fiction|Action
1  Action|Adventure|Fantasy|Science Fiction
2          Adventure|Action|Science Fiction
3          Adventure|Action|Science Fiction
4                             Drama|Romance

In [53]:
# Extract spoken language english_names and format them
cleaned_movies_df['Spoken languages'] = cleaned_movies_df['spoken_languages'].apply(lambda x: '|'.join([lang['english_name'] for lang in x]) if x else None)

# Drop the original column
cleaned_movies_df.drop(columns=['spoken_languages'], inplace=True)

cleaned_movies_df[['Spoken languages']].head()

                                Spoken languages
0                         English|Japanese|Xhosa
1                                English|Spanish
2                                        English
3                                  English|Xhosa
4  English|French|German|Swedish|Italian|Russian

In [54]:
# Extract production country names and format 
cleaned_movies_df['Production countries'] = cleaned_movies_df['production_countries'].apply(lambda x: '|'.join([country['name'] for country in x]) if x else None)

# Drop the original column
cleaned_movies_df.drop(columns=['production_countries'], inplace=True)

cleaned_movies_df[['Production countries']].head()

                      Production countries
0                 United States of America
1  United States of America|United Kingdom
2                 United States of America
3                 United States of America
4                 United States of America

In [55]:
# Extract production company names and format them
cleaned_movies_df['Production companies'] = cleaned_movies_df['production_companies'].apply(lambda x: '|'.join([company['name'] for company in x]) if x else None)

# Drop the original column
cleaned_movies_df.drop(columns=['production_companies'], inplace=True)

cleaned_movies_df[['Production companies']].head()

                                Production companies
0                                     Marvel Studios
1  Dune Entertainment|Lightstorm Entertainment|20...
2                           Lucasfilm Ltd.|Bad Robot
3                                     Marvel Studios
4  Paramount Pictures|20th Century Fox|Lightstorm...

### Extract new columns from credits column

In [56]:
# Extract cast names as a pipe-separated string
cleaned_movies_df['cast'] = cleaned_movies_df['credits'].apply(
    lambda x: '|'.join([member['name'] for member in x['cast']]) if 'cast' in x and isinstance(x['cast'], list) else None
)

# Display the first few rows to verify the extracted 'cast' column
cleaned_movies_df[['cast']].head()

                                                cast
0  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...
1  Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...
2  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
3  Robert Downey Jr.|Chris Evans|Chris Hemsworth|...
4  Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...

In [57]:
# Calculate and save the cast size
cleaned_movies_df['cast_size'] = cleaned_movies_df['credits'].apply(
    lambda x: len(x['cast']) if 'cast' in x and isinstance(x['cast'], list) else 0
)

# Display the first few rows of the 'cast_size' column to verify
cleaned_movies_df[['cast_size']].head()

   cast_size
0        105
1         65
2        182
3         69
4        116

In [58]:
# Extract director(s) from the 'crew' section of the 'credits' field
cleaned_movies_df['director'] = cleaned_movies_df['credits'].apply(
    lambda x: '|'.join([member['name'] for member in x['crew'] if member['job'] == 'Director']) 
    if 'crew' in x and isinstance(x['crew'], list) else None
)

# Display the first few rows of the 'director' column to verify
cleaned_movies_df[['director']].head()

                  director
0  Anthony Russo|Joe Russo
1            James Cameron
2              J.J. Abrams
3  Joe Russo|Anthony Russo
4            James Cameron

In [59]:
# Calculate and save the crew size
cleaned_movies_df['crew_size'] = cleaned_movies_df['credits'].apply(
    lambda x: len(x['crew']) if 'crew' in x and isinstance(x['crew'], list) else 0
)

# Display the first few rows of the 'crew_size' column to verify
cleaned_movies_df[['crew_size']].head()

   crew_size
0        593
1        986
2        257
3        724
4        258

In [60]:
# Drop the 'credits' column from the DataFrame
cleaned_movies_df.drop(columns=['credits'], inplace=True)

# Display the first few rows of the updated DataFrame to confirm
cleaned_movies_df.head()

,backdrop_path,budget,id,origin_country,original_language,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,Collection name,Genre names,Spoken languages,Production countries,Production companies,cast,cast_size,director,crew_size
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,299534,[US],en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,2019-04-24,2799439100,181,Released,Avenge the fallen.,Avengers: Endgame,8.238,26209,The Avengers Collection,Adventure|Science Fiction|Action,English|Japanese|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,2923706026,162,Released,Enter the world of Pandora.,Avatar,7.588,32115,Avatar Collection,Action|Adventure|Fantasy|Science Fiction,English|Spanish,United States of America|United Kingdom,Dune Entertainment|Lightstorm Entertainment|20...,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,140607,[US],en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,2068223624,136,Released,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,Star Wars Collection,Adventure|Action|Science Fiction,English,United States of America,Lucasfilm Ltd.|Bad Robot,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300000000,299536,[US],en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018-04-25,2052415039,149,Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,The Avengers Collection,Adventure|Action|Science Fiction,English|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,200000000,597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,1997-11-18,2264162353,194,Released,Nothing on Earth could come between them.,Titanic,7.905,25867,None,Drama|Romance,English|French|German|Swedish|Italian|Russian,United States of America,Paramount Pictures|20th Century Fox|Lightstorm...,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

### 4. Inspect

In [61]:
# Inspect Genre names frequency
print("Genre names:")
print(cleaned_movies_df['Genre names'].value_counts())

# Inspect Spoken languages frequency
print("\nSpoken languages:")
print(cleaned_movies_df['Spoken languages'].value_counts())

# Inspect Production countries frequency
print("\nProduction countries:")
print(cleaned_movies_df['Production countries'].value_counts())

# Inspect Production companies frequency
print("\nProduction companies:")
print(cleaned_movies_df['Production companies'].value_counts())

Genre names:
Genre names
Adventure|Action|Science Fiction             3
Action|Adventure|Science Fiction|Thriller    2
Action|Adventure|Science Fiction             2
Adventure|Science Fiction|Action             1
Action|Adventure|Fantasy|Science Fiction     1
Drama|Romance                                1
Adventure|Drama|Family|Animation             1
Science Fiction|Action|Adventure             1
Action|Thriller|Crime                        1
Fantasy|Adventure                            1
Family|Animation|Adventure|Comedy|Fantasy    1
Animation|Family|Adventure|Fantasy           1
Family|Fantasy|Romance                       1
Action|Adventure|Animation|Family            1
Name: count, dtype: int64

Spoken languages:
Spoken languages
English                                          9
English|Japanese|Xhosa                           1
English|Spanish                                  1
English|Xhosa                                    1
English|French|German|Swedish|Italian|Russian    1
English|Hindi|Russian                            1
Arabic|English|Spanish|Thai                      1
English|Korean|Swahili|Xhosa                     1
English|Russian                                  1
English|French                                   1
Name: count, dtype: int64

Production countries:
Production countries
United States of America                   16
United States of America|United Kingdom     1
United Kingdom|United States of America     1
Name: count, dtype: int64

Production companies:
Production companies
Marvel Studios                                                                  5
Amblin Entertainment|Universal Pictures                                         2
Walt Disney Pictures|Walt Disney Animation Studios                              2
Dune Entertainment|Lightstorm Entertainment|20th Century Fox|Ingenious Media    1
Lucasfilm Ltd.|Bad Robot                                                        1
Paramount Pictures|20th Century Fox|Lightstorm Entertainment                    1
Walt Disney Pictures|Fairview Entertainment                                     1
Original Film|One Race|Universal Pictures                                       1
Warner Bros. Pictures|Heyday Films                                              1
Lucasfilm Ltd.                                                                  1
Walt Disney Pictures|Mandeville Films                                           1
Walt Disney Pictures|Pixar                                                      1
Name: count, dtype: int64

## Handling Missing & Incorrect Data

In [62]:

cleaned_movies_df.head()

,backdrop_path,budget,id,origin_country,original_language,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,Collection name,Genre names,Spoken languages,Production countries,Production companies,cast,cast_size,director,crew_size
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,299534,[US],en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,2019-04-24,2799439100,181,Released,Avenge the fallen.,Avengers: Endgame,8.238,26209,The Avengers Collection,Adventure|Science Fiction|Action,English|Japanese|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,2923706026,162,Released,Enter the world of Pandora.,Avatar,7.588,32115,Avatar Collection,Action|Adventure|Fantasy|Science Fiction,English|Spanish,United States of America|United Kingdom,Dune Entertainment|Lightstorm Entertainment|20...,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,140607,[US],en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,2068223624,136,Released,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,Star Wars Collection,Adventure|Action|Science Fiction,English,United States of America,Lucasfilm Ltd.|Bad Robot,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300000000,299536,[US],en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018-04-25,2052415039,149,Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,The Avengers Collection,Adventure|Action|Science Fiction,English|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,200000000,597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,1997-11-18,2264162353,194,Released,Nothing on Earth could come between them.,Titanic,7.905,25867,None,Drama|Romance,English|French|German|Swedish|Italian|Russian,United States of America,Paramount Pictures|20th Century Fox|Lightstorm...,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

### Convert column datatypes

In [63]:
cleaned_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   backdrop_path         18 non-null     object
 1   budget                18 non-null     int64
 2   id                    18 non-null     int64
 3   origin_country        18 non-null     object
 4   original_language     18 non-null     object
 5   overview              18 non-null     object
 6   popularity            18 non-null     float64
 7   poster_path           18 non-null     object
 8   release_date          18 non-null     object
 9   revenue               18 non-null     int64
 10  runtime               18 non-null     int64
 11  status                18 non-null     object
 12  tagline               18 non-null     object
 13  title                 18 non-null     object
 14  vote_average          18 non-null     float64
 15  vote_count            18 non-null     int64
 16  Collection name       16 non-null     object
 17  Genre names           18 non-null     object
 18  Spoken languages      18 non-null     object
 19  Production countries  18 non-null     object
 20  Production companies  18 non-null     object
 21  cast                  18 non-null     object
 22  cast_size             18 non-null     int64
 23  director              18 non-null     object
 24  crew_size             18 non-null     int64
dtypes: float64(2), int64(7), object(16)
memory usage: 3.6+ KB

In [64]:
# Convert 'budget', 'id', and 'popularity' to numeric, setting invalid values to NaN
cleaned_movies_df['budget'] = pd.to_numeric(cleaned_movies_df['budget'], errors='coerce')
cleaned_movies_df['id'] = pd.to_numeric(cleaned_movies_df['id'], errors='coerce')
cleaned_movies_df['popularity'] = pd.to_numeric(cleaned_movies_df['popularity'], errors='coerce')

# Convert 'release_date' to datetime format, setting invalid values to NaT
cleaned_movies_df['release_date'] = pd.to_datetime(cleaned_movies_df['release_date'], errors='coerce')

cleaned_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   backdrop_path         18 non-null     object
 1   budget                18 non-null     int64
 2   id                    18 non-null     int64
 3   origin_country        18 non-null     object
 4   original_language     18 non-null     object
 5   overview              18 non-null     object
 6   popularity            18 non-null     float64
 7   poster_path           18 non-null     object
 8   release_date          18 non-null     datetime64[ns]
 9   revenue               18 non-null     int64
 10  runtime               18 non-null     int64
 11  status                18 non-null     object
 12  tagline               18 non-null     object
 13  title                 18 non-null     object
 14  vote_average          18 non-null     float64
 15  vote_count            18 non-null     int64
 16  Collection name       16 non-null     object
 17  Genre names           18 non-null     object
 18  Spoken languages      18 non-null     object
 19  Production countries  18 non-null     object
 20  Production companies  18 non-null     object
 21  cast                  18 non-null     object
 22  cast_size             18 non-null     int64
 23  director              18 non-null     object
 24  crew_size             18 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 3.6+ KB

### Replace unrealistic values

In [65]:
# Convert 'budget' and 'revenue' to Million USD
cleaned_movies_df['budget'] = cleaned_movies_df['budget'] / 1_000_000  # Divide by 1 million
cleaned_movies_df['revenue'] = cleaned_movies_df['revenue'] / 1_000_000  # Divide by 1 million

# Display the first few rows of the updated columns to confirm the conversion
cleaned_movies_df[['budget', 'revenue']].head()

   budget      revenue
0   356.0  2799.439100
1   237.0  2923.706026
2   245.0  2068.223624
3   300.0  2052.415039
4   200.0  2264.162353

In [66]:
# Drop the 'status' column from the DataFrame
movies_df.drop(columns=['status'], inplace=True)

# Display the first few rows of the updated DataFrame
movies_df.head()

,backdrop_path,budget,id,origin_country,original_language,overview,popularity,poster_path,release_date,revenue,runtime,tagline,title,vote_average,vote_count,Collection name,Genre names,Spoken languages,Production countries,Production companies,cast,cast_size,director,crew_size
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356.0,299534,[US],en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,2019-04-24,2799.439100,181,Avenge the fallen.,Avengers: Endgame,8.238,26209,The Avengers Collection,Adventure|Science Fiction|Action,English|Japanese|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237.0,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,2923.706026,162,Enter the world of Pandora.,Avatar,7.588,32115,Avatar Collection,Action|Adventure|Fantasy|Science Fiction,English|Spanish,United States of America|United Kingdom,Dune Entertainment|Lightstorm Entertainment|20...,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245.0,140607,[US],en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,2068.223624,136,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,Star Wars Collection,Adventure|Action|Science Fiction,English,United States of America,Lucasfilm Ltd.|Bad Robot,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300.0,299536,[US],en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018-04-25,2052.415039,149,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,The Avengers Collection,Adventure|Action|Science Fiction,English|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,200.0,597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,1997-11-18,2264.162353,194,Nothing on Earth could come between them.,Titanic,7.905,25867,None,Drama|Romance,English|French|German|Swedish|Italian|Russian,United States of America,Paramount Pictures|20th Century Fox|Lightstorm...,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

## Reorder & Finalize DataFrame

In [68]:
cleaned_movies_df.to_csv('cleaned_movies.csv', index=False)

In [69]:
cleaned_movies_df.rename(columns={'revenue': 'revenue_musd', 'Collection name': 'belongs_to_collection', 'Genre names':'genres', 'Spoken languages':'spoken_languages', 'Production countries':'production_countries', 'Production companies':'production_companies', 'budget':'budget_musd'}, inplace=True)

cleaned_movies_df.head()

,backdrop_path,budget_musd,id,origin_country,original_language,overview,popularity,poster_path,release_date,revenue_musd,runtime,tagline,title,vote_average,vote_count,belongs_to_collection,genres,spoken_languages,production_countries,production_companies,cast,cast_size,director,crew_size
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356.0,299534,[US],en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,2019-04-24,2799.439100,181,Avenge the fallen.,Avengers: Endgame,8.238,26209,The Avengers Collection,Adventure|Science Fiction|Action,English|Japanese|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237.0,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,2923.706026,162,Enter the world of Pandora.,Avatar,7.588,32115,Avatar Collection,Action|Adventure|Fantasy|Science Fiction,English|Spanish,United States of America|United Kingdom,Dune Entertainment|Lightstorm Entertainment|20...,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245.0,140607,[US],en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,2068.223624,136,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,Star Wars Collection,Adventure|Action|Science Fiction,English,United States of America,Lucasfilm Ltd.|Bad Robot,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300.0,299536,[US],en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018-04-25,2052.415039,149,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,The Avengers Collection,Adventure|Action|Science Fiction,English|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,200.0,597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,1997-11-18,2264.162353,194,Nothing on Earth could come between them.,Titanic,7.905,25867,None,Drama|Romance,English|French|German|Swedish|Italian|Russian,United States of America,Paramount Pictures|20th Century Fox|Lightstorm...,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

In [70]:
# Drop the 'status' column from the DataFrame
cleaned_movies_df.drop(columns=['backdrop_path', 'origin_country'], inplace=True)

# Display the first few rows of the updated DataFrame
cleaned_movies_df.head()

,budget_musd,id,original_language,overview,popularity,poster_path,release_date,revenue_musd,runtime,tagline,title,vote_average,vote_count,belongs_to_collection,genres,spoken_languages,production_countries,production_companies,cast,cast_size,director,crew_size
0,356.0,299534,en,After the devastating events of Avengers: Infi...,22.2597,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,2019-04-24,2799.439100,181,Avenge the fallen.,Avengers: Endgame,8.238,26209,The Avengers Collection,Adventure|Science Fiction|Action,English|Japanese|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,237.0,19995,en,"In the 22nd century, a paraplegic Marine is di...",31.3525,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,2923.706026,162,Enter the world of Pandora.,Avatar,7.588,32115,Avatar Collection,Action|Adventure|Fantasy|Science Fiction,English|Spanish,United States of America|United Kingdom,Dune Entertainment|Lightstorm Entertainment|20...,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,245.0,140607,en,Thirty years after defeating the Galactic Empi...,12.7841,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,2068.223624,136,Every generation has a story.,Star Wars: The Force Awakens,7.262,19665,Star Wars Collection,Adventure|Action|Science Fiction,English,United States of America,Lucasfilm Ltd.|Bad Robot,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,300.0,299536,en,As the Avengers and their allies have continue...,32.6907,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018-04-25,2052.415039,149,Destiny arrives all the same.,Avengers: Infinity War,8.236,30386,The Avengers Collection,Adventure|Action|Science Fiction,English|Xhosa,United States of America,Marvel Studios,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,200.0,597,en,101-year-old Rose DeWitt Bukater tells the sto...,31.6333,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,1997-11-18,2264.162353,194,Nothing on Earth could come between them.,Titanic,7.905,25867,None,Drama|Romance,English|French|German|Swedish|Italian|Russian,United States of America,Paramount Pictures|20th Century Fox|Lightstorm...,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

In [72]:
# Specify the desired order of columns
column_order = [
    'id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection',
    'original_language', 'budget_musd', 'revenue_musd', 'production_companies',
    'production_countries', 'vote_count', 'vote_average', 'popularity', 'runtime',
    'overview', 'spoken_languages', 'poster_path', 'cast', 'cast_size', 'director', 'crew_size'
]

# Reorder the DataFrame columns
cleaned_movies_df = cleaned_movies_df[column_order]

# Preview the reordered DataFrame
cleaned_movies_df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,director,crew_size
0,299534,Avengers: Endgame,Avenge the fallen.,2019-04-24,Adventure|Science Fiction|Action,The Avengers Collection,en,356.0,2799.439100,Marvel Studios,United States of America,26209,8.238,22.2597,181,After the devastating events of Avengers: Infi...,English|Japanese|Xhosa,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,Anthony Russo|Joe Russo,593
1,19995,Avatar,Enter the world of Pandora.,2009-12-15,Action|Adventure|Fantasy|Science Fiction,Avatar Collection,en,237.0,2923.706026,Dune Entertainment|Lightstorm Entertainment|20...,United States of America|United Kingdom,32115,7.588,31.3525,162,"In the 22nd century, a paraplegic Marine is di...",English|Spanish,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Sam Worthington|Zoe Saldaa|Sigourney Weaver|S...,65,James Cameron,986
2,140607,Star Wars: The Force Awakens,Every generation has a story.,2015-12-15,Adventure|Action|Science Fiction,Star Wars Collection,en,245.0,2068.223624,Lucasfilm Ltd.|Bad Robot,United States of America,19665,7.262,12.7841,136,Thirty years after defeating the Galactic Empi...,English,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,J.J. Abrams,257
3,299536,Avengers: Infinity War,Destiny arrives all the same.,2018-04-25,Adventure|Action|Science Fiction,The Avengers Collection,en,300.0,2052.415039,Marvel Studios,United States of America,30386,8.236,32.6907,149,As the Avengers and their allies have continue...,English|Xhosa,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,Joe Russo|Anthony Russo,724
4,597,Titanic,Nothing on Earth could come between them.,1997-11-18,Drama|Romance,None,en,200.0,2264.162353,Paramount Pictures|20th Century Fox|Lightstorm...,United States of America,25867,7.905,31.6333,194,101-year-old Rose DeWitt Bukater tells the sto...,English|French|German|Swedish|Italian|Russian,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,James Cameron,258

### Reset Index

In [74]:
# # Reset the index of the DataFrame
# cleaned_movies_df.reset_index(drop=True, inplace=True)

# # Display the first few rows to confirm the changes
# cleaned_movies_df.head()

## KPI Implementation & Analysis

### Filter and rank movies based on:

Highest Revenue

In [76]:
# Filter and rank movies based on the highest revenue
highest_revenue_movies = cleaned_movies_df.sort_values(by='revenue_musd', ascending=False)

# Display the top 10 movies by highest revenue
highest_revenue_movies[['title', 'revenue_musd', 'release_date']].head(10)

                           title  revenue_musd release_date
1                         Avatar   2923.706026   2009-12-15
0              Avengers: Endgame   2799.439100   2019-04-24
4                        Titanic   2264.162353   1997-11-18
2   Star Wars: The Force Awakens   2068.223624   2015-12-15
3         Avengers: Infinity War   2052.415039   2018-04-25
5                 Jurassic World   1671.537444   2015-06-06
6                  The Lion King   1662.020819   2019-07-12
7                   The Avengers   1518.815515   2012-04-25
8                      Furious 7   1515.400000   2015-04-01
13                     Frozen II   1453.683476   2019-11-20

Highest Budget

In [77]:
# Sort movies by 'budget_musd' in descending order
highest_budget_movies = cleaned_movies_df.sort_values(by='budget_musd', ascending=False)

# Display the top 10 movies by highest budget
highest_budget_movies[['title', 'budget_musd', 'release_date']].head(10)

                           title  budget_musd release_date
9        Avengers: Age of Ultron        365.0   2015-04-22
0              Avengers: Endgame        356.0   2019-04-24
3         Avengers: Infinity War        300.0   2018-04-25
6                  The Lion King        260.0   2019-07-12
2   Star Wars: The Force Awakens        245.0   2015-12-15
1                         Avatar        237.0   2009-12-15
7                   The Avengers        220.0   2012-04-25
4                        Titanic        200.0   1997-11-18
10                 Black Panther        200.0   2018-02-13
12      Star Wars: The Last Jedi        200.0   2017-12-13

Highest Profit

In [82]:
# Calculate profit (Revenue - Budget) and add it as a new column
cleaned_movies_df.loc[:, 'profit_musd'] = cleaned_movies_df['revenue_musd'] - cleaned_movies_df['budget_musd']

# Sort movies by 'profit_musd' in descending order
highest_profit_movies = cleaned_movies_df.sort_values(by='profit_musd', ascending=False)

# Display the top 10 movies by profit
highest_profit_movies[['title', 'budget_musd', 'revenue_musd', 'profit_musd', 'release_date']].head(10)

,title,budget_musd,revenue_musd,profit_musd,release_date
1,Avatar,237.0,2923.706026,2686.706026,2009-12-15
0,Avengers: Endgame,356.0,2799.439100,2443.439100,2019-04-24
4,Titanic,200.0,2264.162353,2064.162353,1997-11-18
2,Star Wars: The Force Awakens,245.0,2068.223624,1823.223624,2015-12-15
3,Avengers: Infinity War,300.0,2052.415039,1752.415039,2018-04-25
5,Jurassic World,150.0,1671.537444,1521.537444,2015-06-06
6,The Lion King,260.0,1662.020819,1402.020819,2019-07-12
8,Furious 7,190.0,1515.400000,1325.400000,2015-04-01
13,Frozen II,150.0,1453.683476,1303.683476,2019-11-20
7,The Avengers,220.0,1518.815515,1298.815515,2012-04-25

Lowest Profit

In [81]:
# Calculate profit (Revenue - Budget) and add it as a new column using loc to avoid SettingWithCopyWarning
cleaned_movies_df.loc[:, 'profit_musd'] = cleaned_movies_df['revenue_musd'] - cleaned_movies_df['budget_musd']

# Sort movies by 'profit_musd' in ascending order to find the lowest profit
lowest_profit_movies = cleaned_movies_df.sort_values(by='profit_musd', ascending=True)

# Display the bottom 10 movies by profit
lowest_profit_movies[['title', 'budget_musd', 'revenue_musd', 'profit_musd', 'release_date']].head(10)

,title,budget_musd,revenue_musd,profit_musd,release_date
9,Avengers: Age of Ultron,365.0,1405.403694,1040.403694,2015-04-22
17,Incredibles 2,200.0,1242.805359,1042.805359,2018-06-14
16,Beauty and the Beast,160.0,1266.115964,1106.115964,2017-03-16
15,Frozen,150.0,1274.219009,1124.219009,2013-11-20
12,Star Wars: The Last Jedi,200.0,1332.698830,1132.698830,2017-12-13
14,Jurassic World: Fallen Kingdom,170.0,1310.466296,1140.466296,2018-06-06
10,Black Panther,200.0,1349.926083,1149.926083,2018-02-13
11,Harry Potter and the Deathly Hallows: Part 2,125.0,1341.511219,1216.511219,2011-07-12
7,The Avengers,220.0,1518.815515,1298.815515,2012-04-25
13,Frozen II,150.0,1453.683476,1303.683476,2019-11-20